<h1>Previa del menú</h1>
<form action="/dashboard/visualizar" method="get">
  <h2>Entradas</h2>
  {{#each lista1}}
    <p>{{nombre}}</p>
    <p>{{descripcion}}</p>
    <p>{{precio}}</p>
  {{/each}}

  <h2>Bebidas</h2>
  {{#each lista2}}
    <p>{{nombre}}</p>
    <p>{{descripcion}}</p>
    <p>{{precio}}</p>
  {{/each}}
  <h2>Postres</h2>
  {{#each lista3}}
    <p>{{nombre}}</p>
    <p>{{descripcion}}</p>
    <p>{{precio}}</p>
  {{/each}}
  <h2>Sopas</h2>
  {{#each lista4}}
    <p>{{nombre}}</p>
    <p>{{descripcion}}</p>
    <p>{{precio}}</p>
  {{/each}}
</form>
<h1>asdadada</h1>